[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/trng4"]
	path = extern/trng4
	url = https://github.com/blackwer/trng4
[submodule "extern/toml11"]
	path = extern/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "extern/msgpack-c"]
	path = extern/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "extern/autodiff"]
	path = extern/autodiff
	url = https://github.com/autodiff/autodiff.git
