/build/
/*.pyc
*.out
*.vf
/examples/**/*.npz
/examples/**/*.toml
/examples/**/*.*_config
/examples/**/*.cindex
/examples/**/*.index

_region_.*
notes/*.aux
notes/*.log

/skelly_sim.egg-info
__pycache__
*.blend1
