[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/trng4"]
	path = extern/trng4
	url = https://github.com/blackwer/trng4
[submodule "extern/toml11"]
	path = extern/toml11
	url = https://github.com/ToruNiina/toml11
